Autoverleih-SOAP-Client/xml-resources/web-service-references/SoapServiceService/wsdl/localhost_8080/Autoverleih-SOAP/SoapServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Webservice/" name="SoapServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://Webservice/" schemaLocation="http://localhost:8080/Autoverleih-SOAP/SoapServiceService?xsd=1"/>
</xsd:schema>
</types>
<message name="registerKunde">
<part name="parameters" element="tns:registerKunde"/>
</message>
<message name="registerKundeResponse">
<part name="parameters" element="tns:registerKundeResponse"/>
</message>
<message name="listAllFahrzeug">
<part name="parameters" element="tns:listAllFahrzeug"/>
</message>
<message name="listAllFahrzeugResponse">
<part name="parameters" element="tns:listAllFahrzeugResponse"/>
</message>
<message name="createLeihvertrag">
<part name="parameters" element="tns:createLeihvertrag"/>
</message>
<message name="createLeihvertragResponse">
<part name="parameters" element="tns:createLeihvertragResponse"/>
</message>
<message name="getAllLeihvertragForKunde">
<part name="parameters" element="tns:getAllLeihvertragForKunde"/>
</message>
<message name="getAllLeihvertragForKundeResponse">
<part name="parameters" element="tns:getAllLeihvertragForKundeResponse"/>
</message>
<message name="registerFahrzeug">
<part name="parameters" element="tns:registerFahrzeug"/>
</message>
<message name="registerFahrzeugResponse">
<part name="parameters" element="tns:registerFahrzeugResponse"/>
</message>
<portType name="SoapService">
<operation name="registerKunde">
<input wsam:Action="http://Webservice/SoapService/registerKundeRequest" message="tns:registerKunde"/>
<output wsam:Action="http://Webservice/SoapService/registerKundeResponse" message="tns:registerKundeResponse"/>
</operation>
<operation name="listAllFahrzeug">
<input wsam:Action="http://Webservice/SoapService/listAllFahrzeugRequest" message="tns:listAllFahrzeug"/>
<output wsam:Action="http://Webservice/SoapService/listAllFahrzeugResponse" message="tns:listAllFahrzeugResponse"/>
</operation>
<operation name="createLeihvertrag">
<input wsam:Action="http://Webservice/SoapService/createLeihvertragRequest" message="tns:createLeihvertrag"/>
<output wsam:Action="http://Webservice/SoapService/createLeihvertragResponse" message="tns:createLeihvertragResponse"/>
</operation>
<operation name="getAllLeihvertragForKunde">
<input wsam:Action="http://Webservice/SoapService/getAllLeihvertragForKundeRequest" message="tns:getAllLeihvertragForKunde"/>
<output wsam:Action="http://Webservice/SoapService/getAllLeihvertragForKundeResponse" message="tns:getAllLeihvertragForKundeResponse"/>
</operation>
<operation name="registerFahrzeug">
<input wsam:Action="http://Webservice/SoapService/registerFahrzeugRequest" message="tns:registerFahrzeug"/>
<output wsam:Action="http://Webservice/SoapService/registerFahrzeugResponse" message="tns:registerFahrzeugResponse"/>
</operation>
</portType>
<binding name="SoapServicePortBinding" type="tns:SoapService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registerKunde">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listAllFahrzeug">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createLeihvertrag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllLeihvertragForKunde">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerFahrzeug">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SoapServiceService">
<port name="SoapServicePort" binding="tns:SoapServicePortBinding">
<soap:address location="http://localhost:8080/Autoverleih-SOAP/SoapServiceService"/>
</port>
</service>
</definitions>