Autoverleih-SOAP-Client/src/META-INF/wsdl/localhost_8080/Autoverleih-SOAP/SoapServiceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Webservice/">

<xs:element name="createLeihvertrag" type="tns:createLeihvertrag"/>

<xs:element name="createLeihvertragResponse" type="tns:createLeihvertragResponse"/>

<xs:element name="getAllLeihvertragForKunde" type="tns:getAllLeihvertragForKunde"/>

<xs:element name="getAllLeihvertragForKundeResponse" type="tns:getAllLeihvertragForKundeResponse"/>

<xs:element name="listAllFahrzeug" type="tns:listAllFahrzeug"/>

<xs:element name="listAllFahrzeugResponse" type="tns:listAllFahrzeugResponse"/>

<xs:element name="registerFahrzeug" type="tns:registerFahrzeug"/>

<xs:element name="registerFahrzeugResponse" type="tns:registerFahrzeugResponse"/>

<xs:element name="registerKunde" type="tns:registerKunde"/>

<xs:element name="registerKundeResponse" type="tns:registerKundeResponse"/>

<xs:complexType name="registerKunde">
<xs:sequence>
<xs:element name="kunde" type="tns:kunde" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="kunde">
<xs:sequence>
<xs:element name="hausnummer" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="land" type="xs:string" minOccurs="0"/>
<xs:element name="nachname" type="xs:string" minOccurs="0"/>
<xs:element name="ort" type="xs:string" minOccurs="0"/>
<xs:element name="postleitzahl" type="xs:string" minOccurs="0"/>
<xs:element name="strasse" type="xs:string" minOccurs="0"/>
<xs:element name="vorname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerKundeResponse">
<xs:sequence>
<xs:element name="Kunde" type="tns:kunde" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllLeihvertragForKunde">
<xs:sequence>
<xs:element name="idKunde" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllLeihvertragForKundeResponse">
<xs:sequence>
<xs:element name="leihvertrag" type="tns:leihvertrag" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="leihvertrag">
<xs:sequence>
<xs:element name="beginnDatum" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endeDatum" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fahrzeug" type="tns:fahrzeug" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="kunde" type="tns:kunde" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fahrzeug">
<xs:sequence>
<xs:element name="baujahr" type="xs:dateTime" minOccurs="0"/>
<xs:element name="hersteller" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="modell" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listAllFahrzeug">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listAllFahrzeugResponse">
<xs:sequence>
<xs:element name="Fahrzeug" type="tns:fahrzeug" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerFahrzeug">
<xs:sequence>
<xs:element name="fahrzeug" type="tns:fahrzeug" minOccurs="0"/>
<xs:element name="baujahrAsLong" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerFahrzeugResponse">
<xs:sequence>
<xs:element name="Fahrzeug" type="tns:fahrzeug" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createLeihvertrag">
<xs:sequence>
<xs:element name="leihvertrag" type="tns:leihvertrag" minOccurs="0"/>
<xs:element name="startDatumAsLong" type="xs:long"/>
<xs:element name="endDatumAsLong" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createLeihvertragResponse">
<xs:sequence>
<xs:element name="Leihvertrag" type="tns:leihvertrag" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>